[Desktop Entry]
Type=Application
Categories=Utility
Name=Redshift
Comment=Color temperature adjustment tool
GenericName=Color temperature adjustment
Icon=redshift
Version=1.0
Exec=redshift-gtk
Hidden=false
X-MATE-Autostart-enabled=true
Terminal=false
StartupNotify=true
